* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; //estilo da lista
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  border-bottom: solid lightgrey 2px;
}

.caixaLogo {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 30%;

  ul {
    display: flex;
    justify-content: space-around;
  }
}

a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 85vh;
}

.containerPedidos {
  width: 35%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  font-size: 36px;
}

button {
  background-color: #fca60f;
  width: 40%;
  height: 7vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}


@media (max-width: 768px) {
  header {
    height: 20vh;
    flex-direction: column;
  }
}

.caixaLogo {
  height: 20vh;
  flex-direction: column;
}

nav {
  width: 95%;

  ul {
    height: 20vh;
    flex-direction: column;
  }
}

a {
  font-size: 22px;
}

main {
  height: 20vh;
  flex-direction: column;
}

.containerPedidos {
  height: 20vh;
  flex-direction: column;
}

p {
  font-size: 22px;
}

button {
  height: 20vh;
}
